@charset "utf-8";
/* CSS Document */

#mainwrapper header{
	background-image: linear-gradient(rgba(27,98,173,1.00),rgba(54,146,243,1.00));
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-style: normal;
	overflow: auto;
	font-size: 30px;
}

#mainwrapper header #logopic{
	position: absolute;
	left: 20px;
	top: 5px;
	width: 6%;
	float: left; 
	padding-left: 20px;
	padding-bottom: 20px;
	padding-top: 30px;
	padding-right: 30px;
}


#mainwrapper header #logo{
	position: absolute;
	width: 30%;
	left: 110px;
	top: 5px;
	float: left;
	overflow: auto;
	padding-left: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	color: white;
}

#mainwrapper header nav{
	text-align: right;
	padding-top: 45px;
	padding-right: 10px;
	padding-bottom: 45px;
	width: 40%;
	float: right;
	color: rgba(255,255,255,0.00);
}

header nav a{
	padding-right: 3%;
	font-size: 25px;
	color: white;
}